Consider following code to answer further questions:

In [7]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [8]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

Ans--

You can use the .iloc[] method to access specific rows in a DataFrame. Here's how you can print the data present in the second row of the DataFrame df:

In [4]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Accessing the second row using iloc
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans--

In pandas, loc and iloc are two methods used to access rows and columns in a DataFrame, but they have different ways of indexing and selecting data:

1. loc:

- The loc method is primarily label-based indexing. It is used to access rows and columns using their labels (row and column names).
- The syntax is df.loc[row_label, column_label], where row_label can be a single label or a list of labels, and column_label can be a single label or a list of labels.
- This method is inclusive of the end index and supports boolean indexing.
- Example: df.loc[2, 'course_name'] would access the value in the row with index 2 and the 'course_name' column.

2. iloc:

- The iloc method is purely integer-based indexing. It is used to access rows and columns using integer indices.
- The syntax is df.iloc[row_index, column_index], where row_index and column_index can be single integers or slices.
- This method is exclusive of the end index and does not support boolean indexing.
- Example: df.iloc[2, 0] would access the value in the third row and the first column (0-based indexing).

Here's a comparison between the two methods:

In [14]:
import pandas as pd

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])

# Using loc
print(df.loc['row2', 'B'])  # Output: 5

# Using iloc
print(df.iloc[1, 1])  # Output: 5

5
5

In this example, both methods give the same result, but they differ in how they handle indexing. loc uses labels, while iloc uses integer indices. Choose the appropriate method based on whether you want to work with labels or integer indices.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

First, let's create the DataFrame using the provided code:

In [15]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

Now, let's reindex the DataFrame using the reindex list [3, 0, 1, 2] and store it in the variable new_df:

In [16]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

Now, let's find the outputs for both new_df.loc[2] and new_df.iloc[2]:

In [17]:
output_loc = new_df.loc[2]
output_iloc = new_df.iloc[2]

print("Output for new_df.loc[2]:")
print(output_loc)
print("\nOutput for new_df.iloc[2]:")
print(output_iloc)

Output for new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Regarding your question about observing differences in the outputs, let's analyze the outputs:

1. new_df.loc[2] will access the row with label 2 in the reindexed DataFrame new_df. Since the DataFrame has been reindexed, this corresponds to the original row with index 1 in the original DataFrame df. The output will be:

In [ ]:
course_name    Machine Learning
duration                     3
Name: 1, dtype: object

new_df.iloc[2] will access the row at integer index 2 in the reindexed DataFrame new_df. This corresponds to the original row with index 1 in the original DataFrame df. The output will be the same as new_df.loc[2]:

In [ ]:
course_name    Machine Learning
duration                     3
Name: 1, dtype: object

There's no difference in the outputs for new_df.loc[2] and new_df.iloc[2] in this specific case, as both methods are accessing the same row after reindexing. However, the difference between loc and iloc lies in how they access data based on labels and integer indices, respectively.

In [26]:
#Consider the below code to answer further questions:
    
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

Ans--

Here's how you can find the requested statistical measurements for the DataFrame df1:

In [21]:
# (i) Mean of each column
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

Mean of each column:
column_1    0.513655
column_2    0.258740
column_3    0.574455
column_4    0.247212
column_5    0.246495
column_6    0.576639
dtype: float64

In [22]:
# (ii) Standard deviation of column 'column_2'
std_dev_column_2 = df1['column_2'].std()
print("\nStandard deviation of column 'column_2':")
print(std_dev_column_2)

Standard deviation of column 'column_2':
0.3126784994441395

In this code:

(i) The .mean() function is used on the DataFrame to calculate the mean of each column. The result is a Series where each entry represents the mean of the respective column.

(ii) The standard deviation of a specific column, in this case, 'column_2', is calculated using the .std() function applied to the Series representing that column.

Keep in mind that the values produced by np.random.rand() are random, so the actual output of mean and standard deviation will vary each time you run the code.

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

Ans--

we trying to replace a numeric data value with a string value in a DataFrame column, which will cause an error. DataFrame columns are designed to store data of a consistent data type within the entire column. Mixing different data types, like replacing a numeric value with a string, can lead to type conflicts and errors.

then we try to replace a numeric value with a string using the df1.loc[] method, you will likely encounter a "ValueError" due to the type mismatch.

Here's the code that you mentioned:

In [23]:
# Trying to replace a numeric value with a string
string_data = "This is a string"
df1.loc[2, 'column_2'] = string_data

In [25]:
df1

   column_1          column_2  column_3  column_4  column_5  column_6
1  0.936602          0.182428  0.235506  0.209742  0.043362  0.771954
2  0.390796  This is a string  0.062934  0.555360  0.075688  0.929388
3  0.890257          0.105343  0.874304  0.111662  0.321455  0.463125
4  0.477930          0.180941  0.988182  0.110011  0.182510  0.007016
5  0.190960           0.05507  0.378866  0.375002  0.638062  0.869250
6  0.195384          0.889362  0.906937  0.121494  0.217894  0.419103

In [ ]:
# Calculating the mean of column 'column_2'
column_2_mean = df1['column_2'].mean()
print("Mean of column 'column_2':", column_2_mean)

When we run this code, you will likely encounter a "ValueError" when attempting to replace the numeric value with a string. This is because pandas enforces consistent data types within columns, and mixing numeric and string data types in the same column is not allowed.

If we want to replace a value with a string for demonstration purposes, you should choose a column that can store strings, such as 'object' dtype columns, and ensure that you're replacing values within the allowed data type for that column.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Ans--

In pandas, a window function (also known as a rolling or moving function) is a computation applied to a specified window of data points moving through a Series or DataFrame. These functions are useful for performing calculations that involve a subset of data points within a defined window or rolling period.

Window functions are particularly common in time series analysis, where you want to calculate statistics or perform calculations on a moving window of data points to observe trends and patterns over time.

Here are some common types of window functions available in pandas:


In pandas, a window function (also known as a rolling or moving function) is a computation applied to a specified window of data points moving through a Series or DataFrame. These functions are useful for performing calculations that involve a subset of data points within a defined window or rolling period.

Window functions are particularly common in time series analysis, where you want to calculate statistics or perform calculations on a moving window of data points to observe trends and patterns over time.

Here are some common types of window functions available in pandas:

1. Rolling Functions: These functions apply a calculation over a specified rolling window of data points. The window can be fixed or variable in size.

- .rolling().mean(): Computes the rolling mean over a window.
- .rolling().sum(): Computes the rolling sum over a window.
- .rolling().std(): Computes the rolling standard deviation over a window.
- .rolling().min(): Computes the rolling minimum over a window.
- .rolling().max(): Computes the rolling maximum over a window.

2. Expanding Functions: These functions apply a calculation to all data points up to the current point.

- .expanding().mean(): Computes the expanding mean up to the current point.
- .expanding().sum(): Computes the expanding sum up to the current point.
- .expanding().std(): Computes the expanding standard deviation up to the current point.
- .expanding().min(): Computes the expanding minimum up to the current point.
- .expanding().max(): Computes the expanding maximum up to the current point.

3. Exponential Moving Average (EMA): This is a specific type of rolling function that gives more weight to recent data points and gradually decreases the weight as you move further back in time.

.ewm().mean(): Computes the exponential moving average.

4. Custom Window Functions: You can also apply your own custom functions using the .rolling().apply() or .expanding().apply() methods.

Window functions are powerful tools for time series analysis and data smoothing. They allow you to easily calculate statistics and metrics over different window sizes, helping you to uncover trends, patterns, and anomalies in your data.

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

Ans--

Here's how you can write a code to print the current month and year using the pandas.datetime function:

In [27]:
# Get the current date
current_date = pd.datetime.now()

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 8
Current Year: 2023

/tmp/ipykernel_77/426404713.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

When you run this code, it will print the current month and year at the time of execution. Please note that the pandas.datetime.now() function might issue a warning, as it's better to use Python's built-in datetime module for working with date and time. You can achieve the same result using the datetime module as follows:

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

Ans--

Here's a Python program that takes two dates as input, calculates the difference between them in days, hours, and minutes using Pandas' Timedelta function, and then displays the result:

In [31]:
import pandas as pd

# Function to get user input for a date
def get_date_input():
    while True:
        try:
            date_str = input("Enter a date in YYYY-MM-DD format: ")
            year, month, day = map(int, date_str.split('-'))
            return pd.Timestamp(year, month, day)
        except ValueError:
            print("Invalid date format. Please enter a valid date.")

# Get input for two dates
print("Enter the first date:")
date1 = get_date_input()

print("\nEnter the second date:")
date2 = get_date_input()

# Calculate the time difference
time_difference = date2 - date1

# Extract days, hours, and minutes
days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds // 60) % 60

# Display the result
print("\nTime Difference:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

Enter the first date:

Enter a date in YYYY-MM-DD format:  23-02-2023

Invalid date format. Please enter a valid date.

Enter a date in YYYY-MM-DD format:  2023-03-20

Enter the second date:

Enter a date in YYYY-MM-DD format:  2025-02-23

Time Difference:
Days: 706
Hours: 0
Minutes: 0

When we run this program, it will prompt you to enter two dates in the format YYYY-MM-DD. After entering the dates, it will calculate and display the difference between the dates in terms of days, hours, and minutes using Pandas' Timedelta functionality.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

Ans--

Here's a Python program that reads a CSV file, converts a specified column to a categorical data type, prompts the user for the file path, column name, and category order, and then displays the sorted data:

In [33]:
import pandas as pd

# Get user input for file path, column name, and category order
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert: ")
category_order = input("Enter the category order (comma-separated values): ").split(',')

# Read the CSV file
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
    exit()

# Convert the specified column to categorical
try:
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
except KeyError:
    print("Column not found. Please provide a valid column name.")
    exit()

# Sort the DataFrame by the categorical column
sorted_df = df.sort_values(by=column_name)

# Display the sorted data
print("\nSorted Data:")
print(sorted_df)

Enter the CSV file path:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name to convert:  Name
Enter the category order (comma-separated values):  Name

Sorted Data:
     PassengerId  Survived  Pclass Name     Sex   Age  SibSp  Parch  \
0              1         0       3  NaN    male  22.0      1      0
1              2         1       1  NaN  female  38.0      1      0
2              3         1       3  NaN  female  26.0      0      0
3              4         1       1  NaN  female  35.0      1      0
4              5         0       3  NaN    male  35.0      0      0
..           ...       ...     ...  ...     ...   ...    ...    ...
886          887         0       2  NaN    male  27.0      0      0
887          888         1       1  NaN  female  19.0      0      0
888          889         0       3  NaN  female   NaN      1      2
889          890         1       1  NaN    male  26.0      0      0
890          891         0       3  NaN    male  32.0      0      0

               Ticket     Fare Cabin Embarked
0           A/5 21171   7.2500   NaN        S
1            PC 17599  71.2833   C85        C
2    STON/O2. 3101282   7.9250   NaN        S
3              113803  53.1000  C123        S
4              373450   8.0500   NaN        S
..                ...      ...   ...      ...
886            211536  13.0000   NaN        S
887            112053  30.0000   B42        S
888        W./C. 6607  23.4500   NaN        S
889            111369  30.0000  C148        C
890            370376   7.7500   NaN        Q

[891 rows x 12 columns]

When we run this program, it will prompt you to enter the CSV file path, the column name you want to convert to a categorical data type, and the desired category order. After reading the CSV file, converting the specified column, and sorting the data accordingly, it will display the sorted data based on the specified categorical column.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

Ans--

Here's a Python program that reads a CSV file containing sales data for different products, visualizes the data using a stacked bar chart, and prompts the user to enter the file path to display the chart:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Get user input for file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
    exit()

# Check if the dataframe has columns 'Date' and 'Product Category'
if 'Date' not in df.columns or 'Product Category' not in df.columns:
    print("Required columns 'Date' and/or 'Product Category' not found in the data.")
    exit()

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Group data by 'Date' and 'Product Category', summing up the sales
grouped = df.groupby(['Date', 'Product Category'])['Sales'].sum().unstack()

# Plot stacked bar chart
grouped.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.title('Sales of Product Categories Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.xticks(rotation=45)
plt.legend(title='Product Category')
plt.tight_layout()

# Display the chart
plt.show()

When we run this program, it will prompt you to enter the CSV file path containing sales data. After reading the file, it will group the data by date and product category, summing up the sales for each category over time. It will then create and display a stacked bar chart to visualize the sales of each product category over time.

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following:
    
Prompt the user to enter the file path of the CSV file containing the student dataR
Read the CSV file into a Pandas DataFrameR
Calculate the mean, median, and mode of the test scores using Pandas toolsR
Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:
    
Student ID: The ID of the studentR
Test Score: The score of the student's test.

Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+

Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

Ans--

Here's a Python program that accomplishes the task of reading a CSV file containing student data, calculating the mean, median, and mode of test scores, and displaying the results in a table:

In [ ]:
import pandas as pd

# Get user input for file path
file_path = input("Enter the file path of the CSV file containing student data: ")

# Read the CSV file into a Pandas DataFrame
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please provide a valid file path.")
    exit()

# Calculate mean, median, and mode of test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Display the results in a table
result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})

print(result_table)